nav {
    font-weight: 700;
}

.bg-primary {
    /* background-color: #2c3e50 !important; */
    background-color: #000000 !important;
    /* background-image: url("http://localhost:8000/images/blurryBand1920x638.png");
    background-repeat: no-repeat; */
}

.bg-secondary {
    background-color: #61a2e4 !important; 
    /* background-color: #60b460 !important; */
}

.header-image {
    background-image: url("http://localhost:8000/images/blurryBand1920x638.png");
    background-repeat: no-repeat;
}

.copyright {
    background-color: #2c3e50;
}